<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">      
        <li class="nav-item">
          <a class="nav-link" routerLink="/master">Master</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/detail">Detail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/report">Report</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-danger pull-right" *ngIf="!data.isAuthenticated" routerLink="/registration" >Registration</button>&nbsp;
    <button class="btn btn-success pull-right" *ngIf="!data.isAuthenticated" routerLink="/login" >Login</button>
    <button class="btn btn-success pull-right" *ngIf="data.isAuthenticated" (click)="logout()" routerLink="/home" >Logout</button>
  </nav>